@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --para: #777;
  --white: #fff;
  --helper-tint: #f3f4ff;
  --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
} 

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.heading {
  font-family: sans-serif;
  text-align: center;
  margin-top: 3rem;
}

p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.7rem;

}

.section {
  padding: 9rem 0;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.will-change-transform {
  will-change: transform;
}
.cursor::after {
  display: block;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  animation: cursor 0.6s linear infinite alternate;
  will-change: opacity;
}

@keyframes cursor {
  0%,
  40% {
    opacity: 1;
  }

  60%,
  100% {
    opacity: 0;
  }
}
/* Swiper */

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 8rem;
}

.swiper-client-msg {
  padding: 5rem 8rem;
  background: var(--white);
  border-radius: 1rem;
  text-align: left;
  box-shadow: var(--shadow);
  position: relative;
}

.swiper-client-msg::before {
  content: "";
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%);
  border: 5rem solid var(--white);
  border-color: transparent;
  border-top-color: var(--helper-tint);
}

.swiper-client-msg p::before {
  content: "\f10d";
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-size: 6rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ced3ff;
}

.swiper-client-msg p::after {
  content: "\f10e";
  position: absolute;
  bottom: 1rem;
  right: 3rem;
  font-size: 5rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ced3ff;
}

.swiper-client-data {
  align-items: center;
  margin-top: 2rem;
  gap: 2.2rem;
}

.swiper-slide img {
  max-width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.5rem solid var(--helper-tint);
}

/*Media Screen */

 @media screen and (max-width: 899px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .container {
    width: 80%;
  }
} 